html, body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: Helvetica;
}

body {
  background-color: #524D56;
  color: #D3CAC5;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

#display-div {
  width: 100%;
  background-color: #92140C;
  padding-left: 8px;
  display: flex;
  border: none;
  line-height: normal;
  font-size: 75px;
}

#title {
  color: #231F20;
}

#numbers-div {
  flex-direction: column;
}

#keys-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

div {
  border: 0.1px solid;
  margin: 2px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 500px;
  border: none;
}

.row > div {
  width:100%;
  line-height: 100px;
  text-align: center;
  font-size: 30px;
  flex: 1;
}

.row > div:hover {
  background-color: #D3CAC5;
  color: #524D56;
}

.row > .funct {
  background-color: #BE7C4D;
}

.row > .equal {
  width: 100;
  flex: 2;
  background-color: #BE5A38;
}
